body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ======================= Home ======================= */
#body-home{
    background: url("../assets/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#body-home .card {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 12px;
}

#body-home .card-img-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#body-home .btn-primary {
    background-color: #6da7d8;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;

    box-shadow: 0 0 5px #6da7d8,
                0 0 10px #6da7d8,
                0 0 20px #6da7d8;

    transition: 0.3s;
}

#body-home .btn-primary:hover {
    background-color: #6da7d8;
    transform: scale(1.1);

    box-shadow: 0 0 10px #6da7d8,
                0 0 20px #6da7d8,
                0 0 40px #6da7d8;
}

#body-home .navbar {
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1000;
}

#body-home .navbar a {
    color: white !important;
}

/* ======================= Apresentação ======================= */

#body-presentation .navbar {
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1000;
}

#body-presentation .navbar a {
    color: white !important;
}

#body-presentation {
    background: url("../assets/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#body-presentation .personagem-img {
    filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.5));
}

#body-presentation .text-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
}

/* ======================= Login ======================= */

#body-login{
    background: url("../assets/images/peter_q.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

#body-login:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

#body-login .container {
    position: relative;
    z-index: 1;
}

#body-login .login-box {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

#body-login .logo {
    width: 180px;
}

#body-login .custom-input {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: white;
}

#body-login .form-floating label {
    color: #ddd;
}

#body-login .btn-login{
    background: linear-gradient(45deg, #ff7b00, #ff0000);
    border: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
} 

#body-login .btn-login:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff0000, #ff7b00);
}

/* ======================= ---- ======================= */

section{
    background-image: url("assets/images/fundo.webp");
}

