body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body-home{
    background: url("../assets/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

section{
    background-image: url("assets/images/fundo.webp");
}

